/*-- Variables --*/
//Colors
//Colors with prefix sym- are colors from the main Symantec website
$symMustard: #F7BA28;
$symMustard-lite: #fed26a;
$symBlue: #293e6c;
$symLightBlue: #1da0d8;
$symGrey: #44525d;
$symGrey-lite: rgba(181,189,195,1);
$symLightGrey: #e7e7e7;
$symLighterGrey: #f8f8f8;
$transparent: rgba(0,0,0,0);
$redAlert: #d31d56;
//Fonts
$fontStack: arial, sans-serif;
/*-- Mixins --*/
@import './mixins/__flexbox';
@import './mixins/__animate';
/*-- Primary Containers --*/
* {
	box-sizing: border-box;
}

html, body {
	padding:0;
	margin: 0;
	height: 100%;
	width: 100%;
}

html {
	overflow: hidden;
}

body {
	@include flexbox;
	@include flex-direction(column);
	@include flex-wrap(nowrap);
	@include justify-content(flex-start);
	@include align-items(stretch);
	@include align-content(stretch);
	background: white;
}

#root {
	overflow: auto;
}

/*-- Elements --*/
h1, h2, p, a, label {
	font-family: $fontStack;
}

h1 {
	font-weight: 300;
	font-size: 48px;
}

h2 {
	font-size: 24px;
}

p {
	font-size: 16px;
}

/*-- Text --*/
.text.center {
	text-align: center;
}

//Styles
.text.bold {
	font-weight: 600;
}

.text.italic {
	font-style: italic;
}


//Colors
.text.grey-lite {
	color: $symGrey-lite;
}

.text.red {
	color: $redAlert;
}

/*-- Pages --*/
.pageHeader {
	padding: 0.5rem 1rem;
	height: 63px;
}

.pageFooter {
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);
	padding: 0.5rem 1rem;
	background: $symLightGrey;

	p {
		font-size: 14px;
	}
}

.pageBody {
	min-height: calc(100vh - 63px - 60px);

	.card {
		padding: 1rem;
	}

	.card.center {
		@include flexbox;
		@include flex-direction(column);
		@include align-items(center);
	}

	.card.blue {
		background: $symBlue;
		color: white;
	}

	.card.grey {
		background: $symLightGrey;
	}
}

.pageBody.dashboardPage {
	.instructions {
		line-height: 30px;
	}
}

/*-- Components --*/
	/*-- Form Elements --*/
	.form {

		.input-group {
			@include flexbox;
			width: 270px;
			margin: 0.5rem 0rem;
		}

		.input-group.vertical {
			@include flex-direction(column);
		}

		label {
			font-size: 14px;
			max-width: 244px;
		}

		input[type=checkbox] {
			width: 20px;
		}

		input[type=text], input[type=email] {
			@include transition(all 0.2s ease);
			max-width: 270px;
			width: 100%; 
			height: 40px;
			margin: 0.5rem;
			font-size: 16px;
			border: 1px solid $symGrey-lite;
			background: $symLighterGrey;
			padding: 0.5rem;
			border-radius: 0.2rem;
			outline: none;
		}

		input[type=text]:focus, input[type=email]:focus {
			background: white;
			border-color: $symLightBlue;
		}

		.submitButton {
			@include transition(all 0.2s ease);
			max-width: 270px;
			width: 100%; 
			height: 40px;
			background: $symMustard-lite;
			border: 1px solid $symMustard;
			border-radius: 0.2rem;
			color: $symGrey;
			font-size: 16px;
			font-weight: 600;
			outline: none;
		}

		.submitButton:hover {
			background: $symMustard;
			border: 1px solid $symMustard;
			color: $symGrey;
		}

		.submitButton:active {
			background: $symMustard-lite;
			border: 1px solid $symMustard;
			color: $symGrey;
		}

		.submitButton:disabled {
			background: $symLightGrey;
			border: 1px solid $symGrey-lite;
			color: $symGrey;
		}
	}

	.registrationForm {
		@include flexbox;
		@include flex-direction(column);
		@include align-items(center);
	}


	/*-- Problem Grid --*/
	.problemGrid {
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(center);
	}


	.problemCell {
		@include flex-grow(1);

		border: 1px solid;
		border-radius: 0.2rem;
		margin: 0.5rem;
		height: 80px;
		max-width: 310px;
		width: 40%;
		min-width: 200px;
		overflow: hidden;
		position: relative;

		a {
			display: inline-block;
			width: 100%;
			line-height: 80px;
			font-size: 35px;
			font-weight: 600;
			text-align: center;
			text-decoration: none;
			background: $symLightGrey;
			color: $symGrey-lite;
		}

		span {
			@include transition(all 0.2s ease);
			position: absolute;
			left: calc((100% - 108px) / 2); //108px is length of text
			bottom: 0.3rem;
			font-size: 12px;
			color: $transparent;
			cursor: pointer;
		}

		&:hover span{
			color: $symGrey;
		}

		button {
			@include transition(all 0.2s ease);
			position: absolute;
			left: calc((100% - 185.3px) / 2); //185.3px is the length of text
			bottom: 0.3rem;
			font-size: 12px;
			border: 0px;
			background: $transparent;
			color: $symLightBlue;
			cursor: pointer;
		}

		button:hover {
			color: $symBlue;
		}
	}



	.problemCell.startedProblem {

		border-color: $symMustard;

		a {
			@include transition(all 0.2s ease);
			background: $symMustard-lite;
			color: $symGrey;
		}

		a:hover {
			background: $symMustard;
			color: black;
		}
	}

	.problemCell.finishedProblem {
		span {
			left: calc((100% - 150px) / 2); //150px is length of text
			cursor: default;
		}
	}




/*




.stock-graph {
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(center);
}

.stock-search {
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);

	input {
		@include transition(all 0.3s ease);
		padding-left: 5px;
		width: 460px;
		height: 30px;
		border: 1px solid $charcoal;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.17), 0px 0px 0px 0px rgba(0, 0, 0, 0);
		outline: none;
	}

	&:hover input {
		border: 1px solid $pitch-grey;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.17), 0px 1px 1px rgba(0, 0, 0, 0.17);
	}

	label {
		@include transition(all 0.3s ease);
		opacity: 0;
		font-size: 12px;
		color: $grey;
		text-align: right;
		width: 460px;
	}

	&:hover label{
		opacity: 1;
	}
}

.stock-list {
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);

	.list-item-container {
		width: 460px;
		position: relative;
		padding-left: 5px;

		span {
			font-family: sans-serif;
			font-size: 16px;
		}

		button {
			font-size: 16px;
			border: 0px;
			background: $transparent;
			cursor: pointer;

			&:hover {
				@include transform(rotate(180deg));
				@include transition(all 0.3s ease);
			}
		}
	}
}



*/

